@import 'variables.css';

.btn-primary {
    padding: 9px;
    border-radius: 10px;
    background-color: azure;
    color: var(--color-app-font);
    font-size: 15px;
    font-family: "Mogen", courier, san-serif;
    margin: 1rem;
    box-shadow: 3px 3px 5px #888888;
    max-width: fit-content;
}

.btn-danger {
    padding: 9px;
    border-radius: 16px;
    background-color: rgb(247, 3, 3);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: "Mogen", courier, san-serif;
}

.btn-primary:hover {
    background-color: bisque;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: rgb(247, 111, 0);
    cursor: pointer;
}

.add-todo-btn {
    margin: 0;
    border: 0.5px solid var(--color-app-font);
}