@import 'variables.css';

.new-todo-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    margin-bottom: 2rem;
}

.form-input {
    padding: 15px;
    border: 0.5px solid var(--color-app-font);
    background-color: azure;
    color: var(--color-app-font);
    font-family: "Mogen";
    font-size: 15px;
    margin-bottom: 5px;
}

.form-item {
    margin: 15px;
}

.form-label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-app-font);
}

.delete-form {
    display: inline;
}