<div class="page-header"><h2>Welcome</h2></div>
<div class="form-section">
    <form action="/" method="GET">
        <input type="text" name="title" class="form-input" value="<%= searchOptions.title %>">
        <button class="btn-primary add-todo-btn" type="submit">Search</button>
    </form>
</div>
<a class="btn-primary add-todo-btn" href="/todo/new">Add todo</a>
<div class="todo-section">
    <% todos.forEach(todo => { %>
        <div class="todo-row">
            <li><%= todo.title %></li>
            <a class="btn-primary" href="/todo/<%= todo.id %>">View</a>
            <%- include("./partials/deleteForm", {url: `/todo/${todo.id}`}) %>
        </div>
    <% }) %>
</div>