<div class="form-item">
    <label class="form-label">Title</label>
    <input type="text" name="title" class="form-input" value="<%= todo.title %>">
</div>
<div class="form-item">
    <label class="form-label">Description</label>
    <textarea class="form-input" name="description"><%= todo.description %></textarea>
</div>