<h2 class="page-header">New Todo</h2>
<form action="/todo" method="POST">
    <div class="form-section">
        <%- include("./_form_fields") %>  
        <button class="btn-primary" type="submit">Add</button>
    </div>
</form>