<div class="new-todo-form">
    <h2 class="page-header">New Todo</h2>
    <div class="form-section">
        <form action="/todo" method="POST">
            <%- include("./_form_fields") %>  
            <button class="btn-primary" type="submit">Add</button>
        </form>
    </div>
</div>