<div class="todo-title">
    <h2 class="page-header"><%= todo.title %></h2>
</div>
<a class="btn-primary" href="/todo/<%= todo.id %>/edit ">Edit</a>
<div class="todo-description"><%= todo.description %></div>